﻿@model DotNET_Developer_Technical_Test.Models.NewsFeed


<ul id="newsFeed" style=" background-color: lightgray; padding: 10px !important; border-radius: 25px;">
    @{
        var itemCount = 0;

        foreach (var item in Model.newsFeedItems)
        {
            itemCount++;

        <li style="display: inline-block; background-color: aliceblue; padding: 10px; border-radius: 25px;">
            <div style="font-weight:800; font-size:larger;"><a href="@item.LinkURL">@item.Title</a></div>
            <div style="padding-top:10px;">
                <div style="display: inline-flex;">
                    <p style="float:left; padding:0px,10px;"><img src="@item.ImageURL" alt="@item.ImageText" style="max-width:100px; max-height:100px;" /></p>
                    <p style="padding-left:10px;">@item.BriefDescription</p>
                </div>
            </div>
            <a href="@item.LinkURL">Read More</a>
        </li>
            if (Model.newsFeedItems.IndexOf(item) != Model.newsFeedItems.Count - 1 && Model.newsFeedItems.IndexOf(item) != Model.itemsToShow - 1)
            {
                <hr>
            }

            if (itemCount == Model.itemsToShow)
            {
                break;
            }
        }
    }
</ul>

@{
    if (Model.newsFeedItems.Count != Model.itemsToShow)
    {
        <button id="NewFeedButton" onclick="LoadMore(@Model.itemsToShow+5)">Load More Stories</button>
    }
}
