﻿<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    3 Shorelark Way<br />
    Norton Canes, <br />
    Cannock,<br />
    WS11 9AA<br />
    <br />
    <abbr title="Phone">P:</abbr>
    07469747710
    <br />
    <abbr title="Email">E:</abbr>   <a href="mailto:Luke.E.Penn@gmail.com">Luke.E.Penn@gmail.com</a>
</address>