﻿@model DotNET_Developer_Technical_Test.Models.NewsFeed
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Actions.js")"></script>
}

<div id="NewsFeedHolder" class="jumbotron">
    @Html.Partial("_NewsFeed", Model)
</div>

