﻿@model DotNET_Developer_Technical_Test.Models.NewsFeedItem


<h1>@Model.Title</h1>
<div style="padding-top:10px;">
    <img src="@Model.ImageURL" alt="@Model.ImageText" style="max-width:100%;" />
    <div style="display: inline-flex;">
        <p style="padding-left:10px;">@Model.BriefDescription</p>
        <p style="padding-left:10px;">@Model.Story</p>
    </div>
</div>